# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.ipch
*.db
Ponteiros/ponteiros/.vs/ponteiros/v16/.suo
Atividade Pratica/Atividade_pratica_quest01/.vs/Atividade_pratica_quest01/v16/.suo
*.tlog
*.log
Atividade Pratica/Atividade_pratica_quest02/.vs/Ativiade_pratica_quest02/v16/.suo
Atividade Pratica/Atividade_pratica_quest03/.vs/Atividade_pratica_quest03/v16/.suo
Atividade Pratica/Atividade_pratica_quest04/.vs/Atividade_pratica_quest04/v16/.suo
Ponteiros/ponteiros_vetores03/.vs/ponteiros_vetores03/v16/.suo
Ponteiros/ponteiros_vetores04/.vs/ponteiros_vetores04/v16/.suo
Ponteiros/ponterios_vetores/.vs/ponterios_vetores/v16/.suo
Ponteiros/ponteiros_vetores02/.vs/ponteiros_vetores02/v16/.suo
